body, html {
  font-family: 'Roboto', sans-serif;
  color: #2a2a32;
  font-weight: 300;
}

img {
  max-width: 100%;
}

p {
  font-size: 16px;
  margin-bottom: 16px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.text-white {
  color: #fff !important;
}

.pad-top20 {
  padding-top: 20px;
}

.btn-common {
  border: 1px solid #ffd401;
  background-color: transparent;
  color: #ffd401;
  cursor: pointer;
  font-size: 14px;
  padding: 8px 48px;
  border-radius: 25px;
  font-weight: 600;
}

@media (max-width: 767px) {
  .btn-common {
    padding: 4px 33px !important;
    border-radius: 25px !important;
    font-weight: 400 !important;
    min-width: inherit !important;
  }
}

.btn-common:hover {
  background-color: #ffd401;
  color: #404041;
}

.btn-common:focus {
  outline: none;
}

.btn-bg {
  background-color: #ffd401;
  color: #404042;
  font-size: 14px;
  padding: 8px 48px;
  border-radius: 25px;
  font-weight: 600;
  min-width: 172px;
  border: 2px solid #ffd401;
  text-transform: uppercase;
}

.btn-bg:hover {
  background-color: #ffd401;
  border: 2px solid #ffd401;
  color: #404041;
}

.logo-cont {
  padding-top: 40px;
  padding-bottom: 80px;
}

.logo-cont img {
  height: 50px;
}

.banner {
  background-position: bottom;
  background-image: url(../img/Header-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
}

.banner .sec1-cont {
  font-family: "Roboto";
  padding-top: 80px;
}

.banner .sec1-cont h2 {
  color: white;
  font-weight: 900;
  font-size: 40px;
  letter-spacing: 1px;
}

.banner .sec1-cont h6 {
  color: white;
  padding-top: 20px;
  font-weight: 300;
}

.banner .sec1-cont button {
  margin-top: 20px;
}

.banner .sec1-form {
  position: relative;
}

.banner .sec1-form .form-container {
  background-color: white;
  border-radius: 10px;
  margin: 0px 40px;
  padding: 45px 40px;
  -webkit-box-shadow: 0px 0px 8px #707072;
          box-shadow: 0px 0px 8px #707072;
}

.banner .sec1-form .form-container h4 {
  font-weight: 700;
  color: black;
  padding-top: 25px;
  font-size: 22px;
  padding-bottom: 35px;
}

@media (max-width: 767px) {
  .banner .sec1-form .form-container h4 {
    padding: 0;
    font-size: 16px;
  }
}

.banner .sec1-form .form-container input[type=text], .banner .sec1-form .form-container select {
  border: none;
  border-bottom: 1px solid #d4d5d5;
  border-radius: 0;
  height: 30px;
  color: #373738;
  font-size: 14px;
  padding-left: 0px;
}

.banner .sec1-form .form-container input[type=text]:focus, .banner .sec1-form .form-container select:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.banner .sec1-form .form-container label {
  color: #373738;
  font-size: 13px;
  margin: 0;
  font-weight: 500;
}

.banner .sec1-form .form-container .form-btn {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (max-width: 1366px) {
  .banner .sec1-form .form-container {
    padding: 15px 40px;
  }
}

.sec2 {
  background-image: linear-gradient(-132deg, #14ab9a 0%, #0a7b77 57%, #004a54 100%);
  background: #214f88;
  padding: 100px 0px 100px 0px;
}

.sec2 .sec2-cont {
  color: white;
}

.sec2 .sec2-cont .custom-hr {
  border: 1px solid white;
  width: 45px;
  display: inline-block;
}

.sec2 .sec2-cont h4 {
  font-size: 30px;
}

.sec2 .sec2-cont h2 {
  padding-bottom: 15px;
  font-size: 38px;
}

.sec2 .sec2-cont p {
  padding-bottom: 15px;
  margin: 0;
}

.sec2 .sec2-cont ul {
  list-style: none;
  padding-left: 0px;
}

.sec2 .sec2-cont ul li {
  padding-bottom: 20px;
}

.sec2 .sec2-cont ul li img {
  padding-right: 20px;
}

.sec2 .sec2-cont .sec2-btn {
  padding-top: 12px;
}

.sec3 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.sec3 .custom2-hr {
  border: 1px solid black;
  width: 45px;
  display: inline-block;
}

.sec3 p {
  color: #404041;
  font-weight: 300;
  margin: 0;
  padding-bottom: 15px;
}

.sec3 h3 {
  padding-bottom: 15px;
  font-size: 38px;
  color: #404041;
}

.sec4 {
  background-color: #404041;
  padding-top: 20px;
  padding-bottom: 20px;
}

.sec4 .custom-footer {
  text-align: center;
  color: white;
}

.sec4 .custom-footer h4 {
  font-size: 22px;
  padding-bottom: 30px;
  font-weight: 400;
}

.sec4 .custom-footer .footer-url ul {
  list-style: none;
  margin: 0;
}

.sec4 .custom-footer .footer-url ul li {
  display: inline;
  padding: 0 20px;
  border-right: 1px solid #d4d5d5;
  font-size: 14px;
}

.sec4 .custom-footer .footer-url ul li a:hover {
  color: white;
}

.sec4 .custom-footer .footer-url ul li:last-child {
  border-right: none;
}

.sec4 .custom-footer .footer-url ul li i {
  color: white;
  font-size: 20px;
  padding-right: 15px;
}

.sec4 .custom-footer .footer-social {
  padding-top: 20px;
}

.sec4 .custom-footer .footer-social ul {
  list-style: none;
}

.sec4 .custom-footer .footer-social ul li {
  display: inline-block;
  color: #fff;
}

.sec4 .custom-footer .footer-social ul li a {
  background-color: #fff;
  color: #404041;
  height: 26px;
  width: 26px;
  border-radius: 100%;
  display: block;
  line-height: 26px;
}

.sec4 .custom-footer .footer-social ul li a:hover {
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sec4 .custom-footer .footer-social ul li h4 {
  font-size: 16px;
  font-weight: 400;
  display: inline;
}

.sec4 .custom-footer .footer-social ul li i {
  font-size: 15px;
}

.sec4 .custom-footer .footer-social ul li + li {
  margin-left: 5px;
}

.sec4 .custom-footer .footer-copyright {
  padding-top: 10px;
}

.sec4 .custom-footer .footer-copyright .footer-content p {
  font-size: 14px;
  color: #fff;
  margin: 0;
  position: relative;
  /*&:before{
                            position: absolute;
                            left:0;
                            width:100%;
                            background-color: $light-black2;
                            height:1px;
                            content:"";
                            top: 50%;
                        }*/
}

.sec4 .custom-footer .footer-copyright .footer-content p span {
  z-index: 999;
  position: relative;
  background-color: #404041;
  padding: 0 15px;
}

@media (max-width: 767px) {
  .sec1 .logo-cont {
    padding: 15px 0;
  }
  .sec1 .logo-cont img {
    width: 120px;
    height: auto;
  }
  .sec1 .sec1-cont {
    padding-top: 15px;
  }
  .sec1 .sec1-cont h2 {
    font-size: 16px;
    font-weight: 400;
  }
  .sec1 .sec1-cont h6 {
    font-size: 12px;
    padding-top: 0;
  }
  .sec1 .sec1-cont button {
    margin-top: 10px;
  }
  .sec1 .form-container {
    margin: 30px 0 0 0 !important;
    padding: 15px !important;
  }
  .sec2 {
    padding: 360px 0px 40px 0px;
  }
  .sec2 .sec2-cont h4 {
    font-size: 18px;
  }
  .sec2 .sec2-cont h2 {
    font-size: 22px;
    padding-bottom: 5px;
  }
  .sec2 .sec2-cont p {
    font-size: 13px;
  }
  .sec2 .sec2-cont ul li {
    font-size: 13px;
    padding-bottom: 15px;
  }
  .sec2 .sec2-cont ul li img {
    padding-right: 8px;
    width: 32px;
  }
  .sec2 .sec2-img {
    text-align: center;
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
  }
  .sec2 .sec2-img img {
    width: 80px;
  }
  .sec2 .sec2-btn {
    text-align: center;
  }
  .sec2 .sec2-btn button {
    padding: 12px 40px;
  }
  .sec3 {
    padding: 30px 0 30px 0;
  }
  .sec3 h3 {
    font-size: 20px;
    padding-bottom: 5px;
  }
  .sec3 p {
    font-size: 13px;
    padding-bottom: 5px;
  }
  .sec4 {
    padding: 20px 0;
  }
  .sec4 .custom-footer h4 {
    font-size: 15px;
    padding-bottom: 10px;
  }
  .sec4 .footer-url ul {
    padding-left: 0;
  }
  .sec4 .footer-url ul li {
    font-size: 12px;
    display: block !important;
    border: none !important;
    margin: 4px 0;
  }
  .sec4 .footer-social {
    padding-top: 10px !important;
    text-align: center;
  }
  .sec4 .footer-social ul {
    padding-left: 0px;
  }
  .sec4 .footer-social ul li {
    margin: 6px 0;
  }
  .sec4 .footer-social ul li i {
    font-size: 13px !important;
  }
  .sec4 .footer-social ul li h4 {
    font-size: 13px !important;
  }
  .sec4 .footer-copyright {
    padding-top: 0px !important;
  }
  .sec4 .footer-copyright .footer-content p {
    font-size: 12px !important;
    padding: 0;
  }
  .sec4 .footer-copyright .footer-content p span {
    padding: 0 !important;
  }
  .sec4 .footer-copyright .footer-content p:before, .sec4 .footer-copyright .footer-content p:after {
    display: none;
  }
  .sec2 {
    padding: 30px 0px 30px 0px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .sec1 .banner .logo-cont {
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .sec1 .banner .sec1-form .form-container {
    padding: 15px 40px;
    margin: 0px !important;
  }
  .sec1 .banner .sec1-form .form-container h4 {
    padding: 20px 0px 20px 0px;
    font-size: 22px;
  }
  .sec1 .banner .sec1-cont {
    padding-top: 30px;
  }
  .sec1 .banner .sec1-cont h2 {
    font-size: 28px;
  }
  .sec1 .banner .sec1-cont h6 {
    padding-top: 10px;
  }
  .sec1 .btn-bg {
    padding: 12px 80px;
  }
  .sec2 {
    padding: 40px 0px 40px 0px;
  }
  .sec2 .sec2-img {
    text-align: center;
    padding-top: 80px;
  }
  .sec2 .btn-bg {
    padding: 12px 40px;
  }
  .sec2 .sec2-cont p {
    font-size: 13px;
    padding-bottom: 10px;
  }
  .sec2 .sec2-cont ul li {
    font-size: 12px;
    padding-bottom: 10px;
  }
  .sec2 .sec2-cont ul li img {
    width: 30px;
    padding-right: 10px;
  }
  .sec3 {
    padding: 40px 0px 40px 0px;
  }
  .sec3 p {
    font-size: 14px;
    margin: 0;
  }
  .sec3 h3 {
    font-size: 30px;
    color: #404041;
    padding-bottom: 10px;
  }
  .sec3 img {
    padding-top: 100px;
  }
  .sec4 {
    padding: 20px 0px 20px 0px;
  }
  .sec4 .footer-url ul {
    padding: 0;
  }
  .sec4 .footer-url ul li {
    font-size: 13px;
    padding: 0 10px !important;
  }
  .sec4 .footer-url ul li i {
    font-size: 16px;
    padding-right: 10px;
  }
  .sec4 .custom-footer h4 {
    font-size: 16px;
    padding-bottom: 10px;
  }
  .sec4 .custom-footer .footer-social {
    padding-top: 20px;
  }
  .sec4 .custom-footer .footer-social ul {
    padding: 0px;
  }
  .sec4 .custom-footer .footer-social ul li h4 {
    font-size: 16px;
  }
  .sec4 .custom-footer .footer-social ul li i {
    font-size: 20px;
    padding-left: 15px;
  }
  .sec4 .custom-footer .footer-copyright {
    padding-top: 10px;
  }
  .sec4 .custom-footer .footer-content span {
    font-size: 11px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .sec2 {
    padding: 100px 0px 100px 0px;
  }
}

.flashtohtml5li li {
  overflow: auto;
  line-height: 45px;
}

@media (min-width: 320px) and (max-width: 991px) {
  .flashtohtml5li li {
    line-height: 22px;
  }
}

.flashtohtml5li li img {
  float: left;
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .sec1 .banner .logo-cont {
    padding-top: 20px;
    padding-bottom: 0px;
  }
  .sec1 .banner .sec1-form .form-container h4 {
    padding: 5px 0px 20px 0px;
    font-size: 22px;
  }
  .sec1 .banner .sec1-cont {
    padding-top: 80px;
  }
  .sec2 {
    padding: 80px 0px 80px 0px;
  }
  .sec3 {
    padding: 50px 0 50px 0;
  }
  .sec3 img {
    width: auto;
    height: 315px;
  }
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.right-border {
  border-right: 1px solid #00000036;
}

.banner-section {
  padding: 0px;
}

header.header-section {
  -webkit-transition: all .8s;
  transition: all .8s;
  padding: 12px 0;
  border-bottom: 1px solid #E6E6E6;
}

.areyou-details p, footer .main-footer h2 {
  font-size: 25px;
  color: #fff;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .areyou-details p, footer .main-footer h2 {
    font-size: 16px;
  }
}

section.features .features-list h4 {
  font-size: 20px;
  font-weight: 700;
  color: #000;
}

.novac-logo img {
  height: 50px;
}

@media screen and (min-width: 320px) and (max-width: 991px) {
  .novac-logo img {
    height: 37px;
    max-width: 100%;
  }
}

.imc-logo img {
  height: 25px;
}

@media screen and (min-width: 320px) and (max-width: 576px) {
  .imc-logo img {
    height: auto;
    max-width: 100%;
  }
}

/* are you looking */
.areyou-details {
  background-image: -webkit-gradient(linear, right top, left top, from(#008e9d), to(#124680));
  background-image: linear-gradient(to left, #008e9d, #124680);
  padding: 30px 0px;
}

.areyou-details p {
  margin-bottom: 0px;
}

/* focus */
section.focus {
  padding: 30px 0px;
  background-image: -webkit-gradient(linear, left top, right top, from(#daf3e9), to(#dcf0dc));
  background-image: linear-gradient(to right, #daf3e9, #dcf0dc);
}

section.focus p {
  color: #000;
  font-size: 17px;
}

@media screen and (min-width: 320px) and (max-width: 576px) {
  section.focus p {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  section.focus p {
    font-size: 14px;
    margin-top: 15px;
  }
}

@media screen and (min-width: 320px) and (max-width: 991px) {
  section.focus p {
    font-size: 15px;
  }
}

section.features {
  padding: 30px 0px;
}

@media screen and (min-width: 320px) and (max-width: 991px) {
  section.features {
    padding: 20px 0;
  }
}

section.features .features-list {
  padding: 15px 15px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  section.features .features-list {
    padding: 15px 0px;
    padding-bottom: 0px;
  }
}

section.features .features-list h4 {
  margin: 20px 0px 15px;
}

@media (max-width: 991px) {
  section.features .features-list h4 {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
}

section.features .features-list .img-container {
  width: 85px;
  height: 85px;
  background: #efefef;
  text-align: center;
  margin: 0px auto;
  padding: 12px;
  border-radius: 50px;
}

@media (max-width: 767px) {
  section.features .features-list .img-container {
    width: 65px;
    height: 65px;
  }
}

section.features .features-list .img-container img {
  width: 60px;
}

@media (max-width: 767px) {
  section.features .features-list .img-container img {
    width: 45px;
  }
}

section.why-novac {
  padding: 30px 0px;
  background: #f5f5f5;
}

@media screen and (min-width: 320px) and (max-width: 991px) {
  section.why-novac {
    padding: 20px 0;
  }
}

section.why-novac .why-container {
  border-right: 2px solid #0f7693;
  border-color: linear-gradient(top, #555555, #111111);
  border-color: -webkit-linear-gradient(top, #555555, #111111);
  border-color: -moz-linear-gradient(top, #555555, #111111);
  padding: 0px 15px;
}

@media screen and (min-width: 320px) and (max-width: 992px) {
  section.why-novac .why-container {
    border: 0px;
    padding: 15px 15px;
  }
}

section.why-novac .why-container div {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
}

section.why-novac .why-container img {
  width: 60px;
}

section.why-novac .no-border {
  border-right: 0px;
}

footer .main-footer {
  color: #fff;
  padding: 30px 0px;
  background-image: -webkit-gradient(linear, right top, left top, from(#008e9d), to(#124680));
  background-image: linear-gradient(to left, #008e9d, #124680);
}

@media screen and (min-width: 320px) and (max-width: 991px) {
  footer .main-footer {
    padding: 20px 0;
  }
}

footer .main-footer h2 {
  margin-bottom: 20px;
}

@media screen and (min-width: 320px) and (max-width: 991px) {
  footer .main-footer h2 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 10px;
  }
}

footer .main-footer a.btn {
  background-image: -webkit-gradient(linear, left top, right top, from(#ffb200), to(#f5821f));
  background-image: linear-gradient(to right, #ffb200, #f5821f);
  color: #fff;
  padding: 8px 25px;
  outline: none;
  border: none;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 7px;
}

@media screen and (min-width: 320px) and (max-width: 991px) {
  footer .main-footer a.btn {
    font-size: 13px;
    font-weight: 400;
    padding: 5px 15px;
  }
}

footer .sub-footer {
  color: #fff;
  background-color: #333;
  padding: 20px 0px;
}

@media screen and (min-width: 320px) and (max-width: 991px) {
  footer .sub-footer {
    padding: 15px 0px;
  }
}

footer .sub-footer p {
  margin-bottom: 0px;
  font-size: 14px;
}

@media screen and (min-width: 320px) and (max-width: 991px) {
  footer .sub-footer p {
    font-size: 12px;
  }
}

/* banner section */
h1.banner-heading {
  font-size: 34px;
  color: #000;
  margin-right: 50px;
  padding: 0px;
  margin-bottom: 0px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  h1.banner-heading {
    font-size: 16px;
    font-weight: 700;
    background: transparent;
    margin-right: 0px;
    margin-bottom: 15px;
    text-shadow: 0px -1px 3px transparent;
    color: #333;
    padding: 15px 0px;
    text-align: left;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  h1.banner-heading {
    font-size: 17px;
    background: transparent;
    margin-right: 0px;
    margin-bottom: 15px;
    text-shadow: 0px -1px 3px transparent;
    color: #333;
    padding: 0px 0px;
    text-align: left;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1024px) {
  h1.banner-heading {
    font-size: 20px;
    padding-top: 0px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1199px) {
  h1.banner-heading {
    font-size: 22px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1700px) {
  h1.banner-heading {
    padding-top: 0px;
  }
}

h1.banner-heading span {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  background: rgba(17, 115, 146, 0.7);
  padding: 10px;
  margin-top: -1px;
  display: block;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 142, 157, 0.1)), to(#124680));
  background-image: linear-gradient(to left, rgba(0, 142, 157, 0.1), #124680);
  border-radius: 3px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  h1.banner-heading span {
    display: block;
    margin-top: 5px;
    background: none;
    color: #333;
    padding: 0px;
    font-size: 14px;
    line-height: 19px;
    font-weight: 500;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  h1.banner-heading span {
    display: block;
    margin-top: 5px;
    background: none;
    color: #333;
    padding: 0px;
    font-size: 15px;
    font-weight: 500;
  }
}

@media screen and (min-width: 992px) and (max-width: 1024px) {
  h1.banner-heading span {
    display: block;
    margin-top: 5px;
    background: none;
    color: #333;
    padding: 0px;
    font-size: 17px;
    font-weight: 500;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1750px) {
  h1.banner-heading span {
    display: block;
    margin-top: 5px;
    background: none;
    color: #333;
    padding: 0px;
    font-size: 25px;
    font-weight: 500;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1199px) {
  h1.banner-heading span {
    font-size: 19px;
  }
}

.banner-section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 27%;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .banner-section {
    background-image: none;
  }
}

.form-box {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#008e9d), to(#124680));
  background-image: linear-gradient(to bottom, #008e9d, #124680);
  margin-bottom: 0px;
  color: #fff;
}

.form-section {
  padding: 33px 30px 30px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .form-section {
    padding: 15px 15px 15px;
    padding-bottom: 5px;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .form-section {
    padding: 20px 17px;
  }
}

.form-box h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  padding-bottom: 10px;
  line-height: 25px;
  margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .form-box h4 {
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .form-box h4 {
    font-size: 17px;
  }
}

.form-cnt .form-group {
  margin-bottom: 24px;
  position: relative;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .form-cnt .form-group {
    margin-bottom: 20px;
  }
}

.form-input {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  -webkit-box-shadow: 1px 3px 10px #00000016;
  box-shadow: 1px 3px 10px #00000016;
  background-color: rgba(255, 255, 255, 0.3);
  height: 45px;
  padding: 5px 10px;
  border: none;
}

@media screen and (min-width: 320px) and (max-width: 991px) {
  .form-input {
    font-size: 13px;
    height: 40px;
  }
}

.form-submit {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  -webkit-box-shadow: 1px 3px 10px #00000016;
  box-shadow: 1px 3px 10px #00000016;
  height: 45px;
  margin-top: 20px;
  background-image: -webkit-gradient(linear, left top, right top, from(#ffb200), to(#f5821f));
  background-image: linear-gradient(to right, #ffb200, #f5821f);
  border: none;
  -webkit-transition: .6s;
  transition: .6s;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .form-submit {
    margin-top: 15px;
    height: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .form-submit {
    height: 40px;
  }
}

.input-checkbox {
  padding-top: 10px;
}

.form-box input[type=checkbox] {
  display: none;
}

.form-box input[type=checkbox] + label {
  display: block;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .form-box input[type=checkbox] + label {
    font-size: 13px;
  }
}

.form-box input[type=checkbox] + label:before {
  content: "\2714";
  border: 2px solid #fff;
  border-radius: 0;
  display: inline-block;
  width: 17px;
  height: 17px;
  padding-left: 2px;
  padding-bottom: 2px;
  margin-right: 10px;
  vertical-align: bottom;
  line-height: 13px;
  color: transparent;
  -webkit-transition: .2s;
  transition: .2s;
}

.form-box input[type=checkbox]:checked + label:before {
  background-color: #fff;
  border-color: #ffff;
  color: #000;
}

.form-control:focus {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.3);
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.7);
}

.input-checkbox span {
  position: relative;
  left: 25px;
  text-align: left;
  float: left;
  top: -19px;
  padding-right: 15px;
}

.note {
  margin: 0;
  font-size: 14px;
  display: inline-block;
  position: relative;
  top: -10px;
  right: 2px;
  padding-left: 10px;
}

/*@media screen and (min-width: 993px){
    .banner-content{
        display: flex;
        align-items: flex-end;
    }
}*/
.banner-content .btn {
  border: none;
  background-image: -webkit-gradient(linear, left top, right top, from(#ffb200), to(#f5821f));
  background-image: linear-gradient(to right, #ffb200, #f5821f);
  border-radius: 4px;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  line-height: 25px;
  position: relative;
  top: 0px;
  padding: 3px 10px;
  margin-left: 0px;
  margin-top: 15px;
}

@media screen and (min-width: 320px) and (max-width: 457px) {
  .banner-content .btn {
    margin-left: 0px;
    top: 0px;
  }
}

@media screen and (min-width: 320px) and (max-width: 349px) {
  .banner-content .btn {
    margin-left: 0px;
    top: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .banner-content .btn {
    margin-left: 0px;
    top: 0px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .banner-content .btn {
    font-size: 12px;
  }
}

.focus-img {
  display: block;
  margin: 0px auto;
}

@media screen and (min-width: 320px) and (max-width: 576px) {
  .focus-img {
    width: 250px;
  }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  /*  .no-gutters>[class*=col-] {
        padding: 15px 15px;
    }*/
}

::-webkit-input-placeholder {
  /* Edge */
  color: #fff !important;
}

:-ms-input-placeholder {
  /* Internet Explorer */
  color: #fff !important;
}

::-ms-input-placeholder {
  color: #fff !important;
}

::placeholder {
  color: #fff !important;
}

.list-content h3 {
  font-size: 25px;
  font-weight: 700;
  color: #000;
  margin-bottom: 0px;
}

@media screen and (min-width: 320px) and (max-width: 991px) {
  .list-content h3 {
    font-size: 20px;
  }
}

.list-content p.tagline {
  padding: 15px 120px;
  font-size: 16px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .list-content p.tagline {
    padding: 15px 0px;
    padding-top: 7px;
    margin-bottom: 0px;
    font-size: 14px;
  }
}

.mobile-only {
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .mobile-only {
    display: block;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 320px) and (max-width: 576px) {
  .last-box {
    padding-bottom: 0px !important;
  }
  .last-box p {
    margin-bottom: 0px;
  }
  .why-container-last {
    padding-bottom: 0px !important;
  }
  .why-container-last div {
    min-height: 0px !important;
    padding-top: 10px !important;
  }
}

label.error {
  position: absolute;
  left: 0;
  color: red;
  padding: 0 11px;
  font-size: 13px;
}

#custerror1 p {
  font-size: 13px;
  margin: 0px;
  padding-top: 7px;
  color: #f00;
  text-align: left;
  font-weight: 600;
}

select option {
  color: #000;
}

.img-top {
  position: absolute;
  bottom: 0px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .img-top {
    position: static;
  }
}

.dot-bknd {
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 0;
  position: relative;
  width: 100%;
}

.dot-bknd:before {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  content: "";
  background-size: cover;
  background-repeat: no-repeat;
  padding-right: 250px;
  background-image: url(../img/bknd.svg);
  z-index: 999;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .dot-bknd:before {
    display: none;
  }
}

.banner-solution {
  color: #066d6d;
}

.dot-bknd h2 {
  font-size: 20px;
  padding-top: 10px;
  margin: 0;
  line-height: 25px;
}

@media (max-width: 767px) {
  h1.banner-heading {
    background-image: url(../img/bknd.svg) !important;
    background-size: cover !important;
    padding: 0px !important;
    background-repeat: no-repeat !important;
  }
  .dot-bknd {
    padding-right: 55px !important;
    padding-left: 15px !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    width: 100%;
  }
  .dot-bknd h2 {
    font-size: 14px;
    line-height: 19px;
  }
}

@media screen and (max-width: 767px) {
  .flashtohtml5 {
    display: none;
  }
}

/* thank you */
/*# sourceMappingURL=style.css.map */